* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: darkcyan;
  display: flex;
  align-items: center;
}

.box {
  width: 50rem;
  min-height: 30rem;
  margin: 0 auto;
  border-radius: 2rem;
  background-color: darkgray;
}

.title {
  width: 80%;
  margin: 0 auto;
  position: relative;
  top: -3rem;
  background-color: darkorange;
  border-radius: 1rem;
  text-align: center;
  padding: 0 0.5rem;
  font-size: 2.5rem;
}

.text {
  width: 100%;
  padding: 0.8rem;
  font-size: 1.8rem;
}
